html, body{
	padding:0;
	margin:0;
}
body{
	font-size:16px;
	font-family: 'PT Sans Narrow', sans-serif;
	background-color:#000;
	background-image:url('/verstka/BarbershopBorodinski/img/barbershop-bg.jpg');
	background-repeat:no-repeat;
	background-position:50% 0;
}
.header{
	background:#000;
	color:#fff;
}
.header a:link,
.header a:visited,
.header a:active,
.header a:hover{
	color:#fff;
}
.layout-center-wrapper,
.content{
	width:940px;
	padding:0 10px;
	margin:0 auto;

}
.top-menu{
	list-style:none;
	width:780px;
	margin:0;
	padding:0;
	float:left;
}
.top-menu li {
	display:inline-block;
}
.account{
	float:right;
}
.layout-center-wrapper:after{
	content:'';
	display:table;
	clear:both;
}
.top-menu a{
	display:block;
	padding:25px 22px 20px 22px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
}
.account a{
	display:block;
	padding:25px 0 20px 35px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	position:relative;
}
.top-menu a:hover{
	background:#242424;
}
.account a:before{
	content:'';
	position:absolute;
	background:url('/verstka/BarbershopBorodinski/img/icon-account.png') no-repeat 0 0;
	width:16px;
	height:16px;
	left:0;
	top:28px;
}
.account-disable a:before{
	opacity:0.3;
	
}
.active-page a{
	border-bottom:5px solid #fff;
}
.hover-border a:hover{
	border-bottom:5px solid #242424;
}
.logo{
	margin:0px auto;
	width:368px;
	height:152px;
	margin-top:60px;
}
.gain{
	color:#fff;
	list-style:none;
	padding:0;
	margin:0 auto;
	margin-top:80px;
}
.gain:after{
    content:'';
    display:table;
    clear:both;
}
.gain li{
	width:300px;
	font-size:14px;
	margin-right:20px;
	text-transform:uppercase;
	float:left;
    position:relative;
}
.gain li:last-child{
	margin-right:0;
}
.gain .gain-title{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	margin-bottom:40px;
}
.gain p{
	line-height:24px;
	padding:0 20px;
	text-align:center;
	font-weight:bold;
    padding-top:30px;
    margin:0px;
}
.gain .gain-title:after{
	content:'';
	background:url('/verstka/BarbershopBorodinski/img/romb.png') no-repeat 0 0;
	width:30px;
	height:30px;
	position:absolute;
	bottom:98px;
    left:135px;
}
.block{
    width:940;
    margin:0 auto;
    background:url('/verstka/BarbershopBorodinski/img/sm-1.jpg');
    margin-top:81px;
    position:relative;
    height:430px;
}
.block .block1{
    width:300px;
    float:left;
    padding-left:80px;
    padding-top:46px;
    padding-right:90px;
}
.block .block2{
    width:380px;
    float:right;
    padding-left:90px;
    padding-top:46px;
}
.block:after{
    content:'';
    display:table;
    clear:both;
}
.block .block1 .block-title{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:30px;
}
.block .new{
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:24px;
}
.block .block1 p{
    font-family:Georgia, serif;
    font-style:italic;
    font-size:14px;
    text-transform:lowercase;
    font-weight:normal;
    margin-top:0;
    margin-bottom:24px;
}
.btn a:link,
.btn a:visited,
.btn a:active{
    display:block;
    width:140px;
    height:43px;
    background:#000;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    line-height:43px;
    text-decoration:none;
}
.btn a:hover{
    background:#fff;
    color:#000;
}
.block .block2 img{
    padding-left:8px;
    margin-bottom:38px;
}
.block .block2 .block-title{
    margin-bottom:39px;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.block .block2 .btn{
    float:left;
}
.block .block2 div:last-child{
    margin-left:20px;
}
.block .block1 .block-title:after{
    content:'';
    position:absolute;
    background:url('/verstka/BarbershopBorodinski/img/shadow.png') no-repeat 0 0;
    width:8px;
    height:278px;
    left:466px;
    top:78px;
}
.block-b{
    width:940;
    margin:0 auto;
    background:url('/verstka/BarbershopBorodinski/img/sm-1.jpg');
    margin-top:81px;
    position:relative;
    height:430px;
    margin-top:34px;
    position:relative;
}
.block-b:after{
    content:'';
    display:table;
    clear:both;
}
.block-b .block1{
    float:left;
    padding-top:46px;
    padding-left:81px;
    width:389px;
}
.block-b .block1 .block-title{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.block1 .address,
.block1 .time-work{
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    padding-top:21px;
    line-height:24px;
    width:250px;
}
.block1 .time-work{
    width:140px;
}
.block-b .block1 .btn{
    float:left;
    margin-top:47px;
    margin-right:20px;
}
.block-b .block1 .block-title:after{
    content:'';
    position:absolute;
    background:url('/verstka/BarbershopBorodinski/img/shadow.png') no-repeat 0 0;
    width:8px;
    height:278px;
    left:466px;
    top:78px;
}
.block-b .block2{
    float:right;
    width:380px;
    padding-top:46px;
    padding-left:90px;
}
.block-b .block2 .block-title{
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.block2 .entry{
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    padding-top:21px;
    line-height:24px;
    width:290px;
}
.block2 form{
    padding:30px 0;
}
form input[type='text']{
    padding:10px;
    width:111px;
    border:2px solid #000;
    margin-right:17px;
    margin-bottom:19px;
    padding-left:15px;
    height:19px;
}
::-webkit-input-placeholder{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    color:#000;
}
::-moz-placeholder{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    color:#000;
}
:-ms-input-placeholder{  
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    color:#000;
}
:-moz-placeholder{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    color:black;  
}
input[type='submit']{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top:10px;
    display:block;
    width:300px;
    height:43px;
    background:#000;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    border:none;
    cursor:pointer;
}
input[type='submit']:hover{
    background:#fff;
    color:#000;
}
.footer{
    background:url('/verstka/BarbershopBorodinski/img/footer-bg.jpg') repeat;
    margin-top:64px;
}
.footer-address{
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    padding:60px 0;
    line-height:24px;
    width:250px;
    color:#fff;
    float:left;
    margin-right:150px;
}
.footer-social{
    float:left;
    padding:60px 0;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    text-align:center;
}
.footer-author{
    float:right;
    padding:60px 0;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color:#fff;
    text-align:center;
}
footer:after{
    content:'';
    display:table;
    clear:both;
}
q{
    quotes:"\00ab" "\00bb";
}
.footer-author a:link,
.footer-author a:visited,
.footer-author a:active{
    display:block;
    width:140px;
    height:43px;
    background:#000;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    line-height:43px;
    text-decoration:none;
}
.footer-author a:hover{
    background:#fff;
    color:#000;
}
.footer a{
    margin-top:6px;
}
.footer-social a{
    display:block;
    width:43px;
    height:43px;
    float:left;
    margin-right:20px;
    background-image:url('/verstka/BarbershopBorodinski/img/social-icon.jpg')
}
.footer-social a:last-child{
    margin-right:0;
    background-position:-98px;
}
.footer-social a:nth-child(3){
    background-position:-49px;
}